In [3]:
import pandas as pd

In [ ]:
studierende = pd.read_csv("studierende_portugisisch.csv", sep = ";")

In [4]:
def dataframe(studierende):
    
    df_studierende = studierende.drop(columns = ['G1', 'G2'])
    
    # schule binär
    df_studierende.school.replace(('GP', 'MS'), (0,1), inplace=True)
    
    # sex binär
    df_studierende.sex.replace(('F', 'M'), (0,1), inplace=True)

    # adress binär
    df_studierende.address.replace(('U', 'R'), (0,1), inplace=True)

    # family size binär
    df_studierende.famsize.replace(('LE3','GT3'), (0,1), inplace=True)

    # Pstatus binär
    df_studierende.Pstatus.replace(('T', 'A'), (0,1), inplace=True)

    # Mjob 1 bis 5
    df_studierende.Mjob.replace(('teacher','health', 'services', 'at_home', 'other' ), (0,1,2,3,4), inplace=True)

    # Fjob 1 bis 5
    df_studierende.Fjob.replace(('teacher','health', 'services', 'at_home', 'other' ), (0,1,2,3,4), inplace=True)

    # reason 1 bis 4
    df_studierende.reason.replace(('home', 'reputation','course', 'other'), (0,1,2,3), inplace=True)

    # guardian 1 bis 3
    df_studierende.guardian.replace(('mother', 'father', 'other'), (0,1,2), inplace=True)

    # eventuell über spaltennamen iterieren    
    # schoolsup binär
    df_studierende['schoolsup'] = df_studierende['schoolsup'].apply(yes_no)
    
    # famsup binär
    df_studierende['famsup'] = df_studierende['famsup'].apply(yes_no)

    # paid binär
    df_studierende['paid'] = df_studierende['paid'].apply(yes_no)

    # activities binär
    df_studierende['activities'] = df_studierende['activities'].apply(yes_no)

    # nursery binär
    df_studierende['nursery'] = df_studierende['nursery'].apply(yes_no)

    # higher  binär
    df_studierende['higher'] = df_studierende['higher'].apply(yes_no)

    # internet binär
    df_studierende['internet'] = df_studierende['internet'].apply(yes_no)

    # romantic binär
    df_studierende['romantic'] = df_studierende['romantic'].apply(yes_no)

    return df_studierende

In [5]:
def yes_no(value):
    
    if value == 'yes':
        value = 1
    elif value =='no':
        value = 0
        
    return value

In [6]:
def drop(df_studierende):
    drop_cols = ['sex','age', 'address','famsize','Pstatus','Mjob','Fjob','reason','guardian','traveltime','schoolsup','famsup','paid','activities','nursery','internet', 'romantic', 'famrel', 'freetime', 'goout',  'Walc', 'health', 'absences', 'school','Medu','Fedu','studytime','higher','Dalc']
    #cols = [col for col in df_studierende.columns]
    
    #for col in cols:
    df_studierende = df_studierende.drop(columns = ['sex','age', 'address','famsize','Pstatus','Mjob','Fjob','reason','guardian','traveltime','schoolsup','famsup','paid','activities','nursery','internet', 'romantic', 'famrel', 'freetime', 'goout','Walc', 'health', 'absences'])
    
    return df_studierende

In [10]:
df_studierende = dataframe(studierende)
df_studierende.to_csv('df_studierende_complete.csv', sep =';', index = False)
df_studierende

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
0,0,0,18,0,1,1,4,4,3,0,...,0,0,4,3,4,1,1,3,4,11
1,0,0,17,0,1,0,1,1,3,4,...,1,0,5,3,3,1,1,3,2,11
2,0,0,15,0,0,0,1,1,3,4,...,1,0,4,3,2,2,3,3,6,12
3,0,0,15,0,1,0,4,2,1,2,...,1,1,3,2,2,1,1,5,0,14
4,0,0,16,0,1,0,3,3,4,4,...,0,0,4,3,2,1,2,5,0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,1,0,19,1,1,0,2,3,2,4,...,1,0,5,4,2,1,2,5,4,10
645,1,0,18,0,0,0,3,1,0,2,...,1,0,4,3,4,1,1,1,4,16
646,1,0,18,0,1,0,1,1,4,4,...,0,0,1,1,1,1,1,5,6,9
647,1,1,17,0,0,0,3,1,2,2,...,1,0,2,4,5,3,4,2,6,10
648,1,1,18,1,0,0,3,2,2,4,...,1,0,4,4,1,3,4,5,4,11

In [11]:
df_studierende = drop(df_studierende)
df_studierende.to_csv('df_studierende.csv', sep =';', index = False)
df_studierende

     school  Medu  Fedu  studytime  failures  higher  Dalc  G3
0         0     4     4          2         0       1     1  11
1         0     1     1          2         0       1     1  11
2         0     1     1          2         0       1     2  12
3         0     4     2          3         0       1     1  14
4         0     3     3          2         0       1     1  13
..      ...   ...   ...        ...       ...     ...   ...  ..
644       1     2     3          3         1       1     1  10
645       1     3     1          2         0       1     1  16
646       1     1     1          2         0       1     1   9
647       1     3     1          1         0       1     3  10
648       1     3     2          1         0       1     3  11

[649 rows x 8 columns]